<section class="categories container">
    <h2>Categories</h2>

    <ul class="row g-3">
        <li class="col-3"><a href="/post/category/Crypto"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Food"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Coding"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Fitness"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/XRP"><img class="cat-img" src="/images/Insert-Image-Here.jpg"></a></li>
    </ul>
    
</section>
