<section class="categories container">
    <h2>Categories</h2>

    <ul class="row g-3">
        <li class="col-3"><a href="/post/category/Business"><div class="cat-img" >Business</div></a></li>
        <li class="col-3"><a href="/post/category/Cars"><div class="cat-img" >Cars</div></a></li>
        <li class="col-3"><a href="/post/category/Coding"><div class="cat-img" >Coding</div></a></li>
        <li class="col-3"><a href="/post/category/Crypto"><div class="cat-img" >Crypto</div></a></li>
        <li class="col-3"><a href="/post/category/DIY"><div class="cat-img" >DIY</div></a></li>
        <li class="col-3"><a href="/post/category/Fashion"><div class="cat-img" >Fashion</div></a></li>
        <li class="col-3"><a href="/post/category/Finance"><div class="cat-img" >Finance</div></a></li>
        <li class="col-3"><a href="/post/category/Fitness"><div class="cat-img" >Fitness</div></a></li>
        <li class="col-3"><a href="/post/category/Food"><div class="cat-img" >Food</div></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><div class="cat-img" >Gaming</div></a></li>
        <li class="col-3"><a href="/post/category/Lifestyle"><div class="cat-img" >Lifestyle</div></a></li>
        <li class="col-3"><a href="/post/category/Movie"><div class="cat-img" >Movie</div></a></li>
        <li class="col-3"><a href="/post/category/Music"><div class="cat-img" >Music</div></a></li>
        <li class="col-3"><a href="/post/category/News"><div class="cat-img" >News</div></a></li>
        <li class="col-3"><a href="/post/category/Parenting"><div class="cat-img" >Parenting</div></a></li>
        <li class="col-3"><a href="/post/category/Pets"><div class="cat-img" >Pets</div></a></li>
        <li class="col-3"><a href="/post/category/Politics"><div class="cat-img" >Politics</div></a></li>
        <li class="col-3"><a href="/post/category/Sports"><div class="cat-img" >Sports</div></a></li>
        <li class="col-3"><a href="/post/category/Tech"><div class="cat-img" >Tech</div></a></li>
        <li class="col-3"><a href="/post/category/Travel"><div class="cat-img" >Travel</div></a></li>

    </ul>
    
</section>
