<section class="categories container">
    <h2>Categories</h2>

    <div class="row g-3">
        <div class="col-3"><a href="/post/category/Business"><div class="cat-img" > Business <img src="/db_images/business.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Cars"><div class="cat-img" >Cars <img src="/db_images/car.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Coding"><div class="cat-img" >Coding <img src="/db_images/coding.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Crypto"><div class="cat-img" >Crypto <img src="/db_images/crypto.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/DIY"><div class="cat-img" >DIY <img src="/db_images/diy.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Fashion"><div class="cat-img" >Fashion <img src="/db_images/fashion.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Finance"><div class="cat-img" >Finance <img src="/db_images/finance.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Fitness"><div class="cat-img" >Fitness <img src="/db_images/fitness.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Food"><div class="cat-img" >Food <img src="/db_images/food.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Gaming"><div class="cat-img" >Gaming <img src="/db_images/gaming.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Lifestyle"><div class="cat-img" >Lifestyle <img src="/db_images/lifestyle.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Movie"><div class="cat-img" >Movie <img src="/db_images/movies.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Music"><div class="cat-img" >Music <img src="/db_images/music.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/News"><div class="cat-img" >News <img src="/db_images/news.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Parenting"><div class="cat-img" >Parenting <img src="/db_images/parenting.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Pets"><div class="cat-img" >Pets <img src="/db_images/pets.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Politics"><div class="cat-img" >Politics <img src="/db_images/politics.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Sports"><div class="cat-img" >Sports <img src="/db_images/sports.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Tech"><div class="cat-img" >Tech <img src="/db_images/tech.svg" alt=""></div></a></div>
        <div class="col-3"><a href="/post/category/Travel"><div class="cat-img" >Travel <img src="/db_images/travel.svg" alt=""></div></a></div>

    </div>
    
</section>
