    <ul class="row">
        <li class="col-3"><a href="/post/category/Crypto"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Food"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Coding"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Fitness"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/Gaming"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
        <li class="col-3"><a href="/post/category/XRP"><img src="/public/images/Insert-Image-Here.jpg"></a></li>
    </ul>