
<div id="loginError" class="modalHide">
    <div class="loginErrorForm">
        <h1>Bad log In Credentials Please Try Again</h1>
        <div id="errorFormBtn" class="exitBtn  userBtn">Exit</div>
    </div>
  
</div>
