
<div id="loginError" class="modalHide">
    <div class="loginErrorForm">
        <h1>Invalid log In Credentials Please Try Again</h1>
        <div id="errorFormBtn" class="exitBtn  userBtn">Exit</div>
    </div>
</div>

<div id="signupError" class="modalHide">
     <div class="signupErrorForm">
        <h1 id="errorMessage"></h1>
        <div id="errorSignUpBtn" class="exitBtn  userBtn">Exit</div>
    </div>
</div>
