<div id="newPostModal" class="modalHide">
    {{!-- <form  class="new-post-form" id="new-post-form">
     
      <button id="submit-post" type="submit">Post</button>
      <button id="close-btn">Cancel</button>
    </form> --}}
    {{!-- BEL --}}
    <form class="new-post-form" action="/api/posts" method="post" enctype="multipart/form-data" >
        <div class="mb-3">
          <label for="title">Post Title</label>
          <input id="title" name="title"  type="text" placeholder="Title">
      </div>
      <div class="mb-3">
          <label for="post_body">Post Body</label>
          <textarea name="post_body" id="post_body" cols="30" rows="10" placeholder="Text"></textarea>
      </div>
        
      <div class="mb-3">
          <label for="category_name"></label>
          <select name="category_name" id="category_name">
              <option value="Business">Business</option>
              <option value="Cars">Cars</option>
              <option value="Coding">Coding</option>
              <option value="Crypto">Crypto</option>
              <option value="DIY">DIY</option>
              <option value="Fashion">Fashion</option>
              <option value="Finance">Finance</option>
              <option value="Fitness">Fitness</option>
              <option value="Food">Food</option>
              <option value="Gaming">Gaming</option>
              <option value="Lifestyle">Lifestyle</option>
              <option value="Movie">Movie</option>
              <option value="Music">Music</option>
              <option value="News">News</option>
              <option value="Parenting">Parenting</option>
              <option value="Pets">Pets</option>
              <option value="Politics">Politics</option>
              <option value="Sports">Sports</option>
              <option value="Tech">Tech</option>
              <option value="Travel">Travel</option>
          </select>
      </div> 
        <input id="image-id" type="file" name="image" />
        <button id="image-btn" type='submit' >Submit Image</button>
    </form>
</div>