<div id="newPostModal" class="modalHide">
    <form class="new-post-form" id="new-post-form">
      <div class="mb-3">
          <label for="new-title">Post Title</label>
          <input id="new-title" type="text" placeholder="Title">
      </div>
      <div class="mb-3">
          <label for="new-body">Post Body</label>
          <textarea name="new-body" id="new-body" cols="30" rows="10" placeholder="Text"></textarea>
      </div>
      <div action="api/posts" method="POST" enctype="multipart/form-data" >
          <input id="post-image" type="file" name="post_image" />
      </div>
      <div class="mb-3">
          <label for="new-category"></label>
          <select name="new-category" id="new-category">
              <option value="Business">Business</option>
              <option value="Cars">Cars</option>
              <option value="Coding">Coding</option>
              <option value="Crypto">Crypto</option>
              <option value="DIY">DIY</option>
              <option value="Fashion">Fashion</option>
              <option value="Finance">Finance</option>
              <option value="Fitness">Fitness</option>
              <option value="Food">Food</option>
              <option value="Gaming">Gaming</option>
              <option value="Lifestyle">Lifestyle</option>
              <option value="Movie">Movie</option>
              <option value="Music">Music</option>
              <option value="News">News</option>
              <option value="Parenting">Parenting</option>
              <option value="Pets">Pets</option>
              <option value="Politics">Politics</option>
              <option value="Sports">Sports</option>
              <option value="Tech">Tech</option>
              <option value="Travel">Travel</option>
          </select>
      </div>
      <button id="submit-post" type="submit">Post</button>
      <button id="close-btn">Cancel</button>
    </form>

</div>