<div id="signupModal" class="modalHide">
    <form class="signup-form">
        <div class="f-space">
            <label for="username-signup">username:</label>
            <br>
            <input type="text" id="username-signup" />
        </div>
        <div class="f-space">
            <label for="email-signup">email:</label>
            <br>
            <input type="text" id="email-signup" />
        </div>
        <div class="f-space">
            <label for="password-signup">password:</label>
            <br>
            <input type="password" id="password-signup" />
        </div>
        <div class="submit-btn" >
            <button id="signup-btn" type="submit">signup</button>
        </div>
    </form>
</div>

