<div id="signupModal" class="modalHide">
    <div class="signup-form">
        <form >
            <div class="f-space">
                <label for="username-signup">USERNAME:</label>
                <br>
                <input class="input-css" type="text" id="username-signup" />
            </div>
            <div class="f-space">
                <label for="email-signup">E-MAIL:</label>
                <br>
                <input class="input-css" type="text" id="email-signup" />
            </div>
            <div class="f-space">
                <label for="password-signup">PASSWORD:</label>
                <br>
                <input class="input-css" type="password" id="password-signup" />
            </div>
            <div class="submit-btn" >
                <button class="userBtn" id="signup-btn" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="submit-btn">
            <button class="userBtn submit-btn" id="close-signup-btn" type="click">Cancel</button>
        </div>
<<<<<<< HEAD

=======
>>>>>>> cb08d9bc92d6902bb1bf5132e0d14cde19a8369c
    </div>
</div>

