<div id="update-pic-modal" class="modalHide">
    <h1 class="logged-id">{{loggedID}}</h1>
    <form class="new-post-form">
<<<<<<< HEAD
    
    
=======
>>>>>>> cb08d9bc92d6902bb1bf5132e0d14cde19a8369c
        <input  class="input-css" id="profile-image-id" type="file" name="image" />
        <button class="userBtn" id="profile-image-btn" type='submit' >Submit Image</button>
        <button class="userBtn" id="cancel-modal">Cancel</button>
    </form>
</div>
