<div id="update-pic-modal" class="modalHide">
    <form class="new-post-form" action="/api/posts" method="put" enctype="multipart/form-data" >
    
        <input id="profile-image-id" type="file" name="image" />
        <button id="profile-image-btn" type='submit' >Submit Image</button>
        <button id="cancel-modal">Cancel</button>
    </form>
</div>