<li class="list-post">
<<<<<<< HEAD
    {{!-- delete button with post delete functionality --}}
<div id="post-title" class="list-btn" data-id="{{id}}">
    <button class="userBtn" id="delete-post">Delete</button>
</div>
=======
    <div id="post-title" class="list-btn" data-id="{{id}}">
        <button class="userBtn" id="delete-post">Delete</button>
    </div>
>>>>>>> cb08d9bc92d6902bb1bf5132e0d14cde19a8369c
    <h3 class="list-title"><a href="/post/{{id}}">{{title}}</a></h3>
</li>

