<li class="list-post">
    <div id="post-title" class="list-btn" data-id="{{id}}">
        <button class="userBtn" id="delete-post">Delete</button>
    </div>
    <h3 class="list-title"><a href="/post/{{id}}">{{title}}</a></h3>
</li>

