<li class="list-post">
    {{!-- delete button with post delete functionality --}}
<div id="post-title" class="list-btn" data-id="{{id}}">
    <button class="userBtn" id="delete-post">Delete</button>
</div>
    <h3 class="list-title">{{title}}</h3>
</li>

