<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only_Friends</title>
    {{!-- linking the stylesheet. it works  --}}
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    {{!--** this is just here for me to see if my routes work, this can be DEF BE CHANGED LOL:samm  **--}}
      <header>
    <h1>
      Only_Friends
    </h1>
    <nav>
      <a href="/login">login</a>
    </nav>
  </header>
    {{!-- body gets replaced by the views --}}
{{{body}}}
</body>
</html>