<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <header class="container position-sticky top-0">
        <div class="row">
            <div class="col-3">
                <input type="text"/>
                <button>Search</button>
            </div>
            <h1 class="col-6">Only Friends</h1>
            <div class="col-2">
                <div><a>Log In</a></div>
                <div><a>Sign Up</a></div>
            </div>
        </div>
    </header>

   
    <div class="container">
        <div class="row">
             <!-- Left  handside contain PINNED POST and other info regarding channel-->
            <div class="col-4">
                <!-- Pinned Post -->
                <div class="">
                    <ul>
                        <li><a>Pinned 1</a></li>
                        <li><a>Pinned 2</a></li>
                        <li><a>Pinned 3</a></li>
                        <li><a>Pinned 4</a></li>
                        <li><a>Pinned 5</a></li>
                    </ul>
                </div>
                <!-- Following Members -->
                <div class="">
                    <ul>
                        <li>Member 1</li>
                        <li>Member 2</li>
                        <li>Member 3</li>
                        <li>Member 4</li>
                        <li>Member 5</li>
                        <li>Member 6</li>
                        <li>Member 7</li>
                        <li>Member 8</li>
                        <li>Member 9</li>
                        <li>Member 10</li>
                    </ul>
                </div>
            </div>
            <!-- Right handside contain POST -->
            <div class="col-8">
                <!-- Post -->
                <div>
                    <h2 class="postHeader">
                        Post Title
                    </h2>
                    <h4> Written By</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae sed quia tempora cum! Consequuntur, quis. Aliquid fugit dolores ex nemo sequi impedit consectetur eligendi nostrum omnis, expedita quibusdam quaerat optio!
                        Repellat voluptatibus tenetur minus aliquam corporis at sapiente ab ut similique quia, non recusandae? Reiciendis, recusandae. Pariatur ad, modi facere, eligendi sint maiores amet quis illo odio, hic repellat earum!
                        Perspiciatis doloribus incidunt, quo provident consequatur quia ducimus odio distinctio. Voluptatem cumque numquam voluptatum nemo nam! Sequi, tempora sunt similique iusto dolor ducimus placeat iste provident magni, dolore consequatur laborum.
                        Impedit et laborum consequatur alias ea cupiditate aliquam esse, tenetur eaque corrupti molestiae, fugiat doloremque facilis temporibus ullam! Rem nulla consequatur error, ducimus excepturi deserunt quos minima ad dolore magni!
                        Praesentium amet nostrum ad dolores dicta labore quas, corrupti doloribus quia! Optio sint libero doloremque ea veritatis tenetur similique dicta eveniet! Fuga dolorem, distinctio laborum hic officiis id? Consectetur, consequuntur.
                        Velit quod ab cumque modi quibusdam pariatur, fuga voluptatibus? Consequuntur, quasi! Libero sint dolor assumenda eaque. Saepe modi, officia cumque provident impedit sit ut pariatur adipisci in doloribus tempora ex.
                        Qui hic iure tempora praesentium blanditiis modi nam, sed pariatur voluptatibus eum aut recusandae ex perspiciatis officiis consequatur eius distinctio voluptas non totam doloremque! Nulla quos aliquid numquam. Eius, deleniti.
                        Autem, nobis incidunt. Totam quis cumque sequi a? Quo dolores accusamus tempora, dolorum consequatur atque quibusdam suscipit, molestias ducimus architecto quas? Tempore sed nesciunt tempora culpa ipsum laborum commodi soluta?
                        Dignissimos, labore dolor dolorum itaque sunt consequatur nostrum eligendi fugit repellendus quos excepturi deserunt recusandae. Voluptatibus, fuga quidem? Id ullam repellendus sapiente unde cupiditate! At reiciendis quos vitae officia corrupti.
                        Itaque cumque voluptate recusandae mollitia quis inventore sit voluptates at, accusamus vero odio praesentium tempore voluptas maxime consequatur consectetur. Delectus tenetur modi quam, esse temporibus nihil obcaecati repellat maxime eaque?
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit labore nisi aut quidem provident nemo, vero modi optio nulla quisquam ex, consequatur impedit voluptates culpa neque accusantium et consectetur.
                        <br><br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi aliquid expedita quasi nihil aliquam quaerat placeat quo voluptates tempore inventore modi perferendis odit natus ab, dolores unde officia. Laborum, debitis!
                        Illo nemo ut impedit itaque, laborum omnis asperiores, dolorum quod non id, distinctio obcaecati beatae saepe quibusdam! Laborum, earum harum? Magnam distinctio quam sed dolore qui id modi eius cumque?
                        Obcaecati error sunt ea, ducimus laudantium earum, qui ab ipsum amet quo aliquid vero iusto sapiente enim reprehenderit hic quas deserunt, et voluptatem modi quam? Ab amet nemo mollitia quidem!
                        Officia nam perspiciatis delectus a quod, aperiam fugiat accusamus iusto amet quia aliquid est, quidem aut cum ad quis et distinctio dignissimos fuga voluptatum corporis ratione rem quo! Doloribus, reiciendis.
                        Minima neque dolorem sint enim veritatis consequuntur. Earum nesciunt eligendi, optio officia non illo nisi omnis voluptate tempora eius dolorum modi ratione atque ab! Autem dolorem sequi quae. Eligendi, quisquam.
                    </p>
                </div>
                <!-- Comments -->
                <div>
                    <<div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    <ul>
                        <li class="commentBox">
                            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam, eum aliquid consectetur ipsum sapiente voluptatibus dolorem aliquam minus, accusantium mollitia, veritatis repellat quia provident unde commodi. Ut, asperiores nobis!
                            Consectetur officia natus temporibus, omnis, iure quisquam autem impedit aliquam quo molestiae veniam. Repudiandae, incidunt alias! Repudiandae nulla itaque saepe dolore placeat, maxime ea non neque quod ex ipsa asperiores!</div>
                            <div>Commented By</div>
                        </li>
                        <li class="commentBox">
                            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam, eum aliquid consectetur ipsum sapiente voluptatibus dolorem aliquam minus, accusantium mollitia, veritatis repellat quia provident unde commodi. Ut, asperiores nobis!
                            Consectetur officia natus temporibus, omnis, iure quisquam autem impedit aliquam quo molestiae veniam. Repudiandae, incidunt alias! Repudiandae nulla itaque saepe dolore placeat, maxime ea non neque quod ex ipsa asperiores!</div>
                            <div>Commented By</div>
                        </li>
                        <li class="commentBox">
                            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam, eum aliquid consectetur ipsum sapiente voluptatibus dolorem aliquam minus, accusantium mollitia, veritatis repellat quia provident unde commodi. Ut, asperiores nobis!
                            Consectetur officia natus temporibus, omnis, iure quisquam autem impedit aliquam quo molestiae veniam. Repudiandae, incidunt alias! Repudiandae nulla itaque saepe dolore placeat, maxime ea non neque quod ex ipsa asperiores!</div>
                            <div>Commented By</div>
                        </li>
                        <li class="commentBox">
                            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam, eum aliquid consectetur ipsum sapiente voluptatibus dolorem aliquam minus, accusantium mollitia, veritatis repellat quia provident unde commodi. Ut, asperiores nobis!
                            Consectetur officia natus temporibus, omnis, iure quisquam autem impedit aliquam quo molestiae veniam. Repudiandae, incidunt alias! Repudiandae nulla itaque saepe dolore placeat, maxime ea non neque quod ex ipsa asperiores!</div>
                            <div>Commented By</div>
                        </li>
                        <li class="commentBox">
                            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam, eum aliquid consectetur ipsum sapiente voluptatibus dolorem aliquam minus, accusantium mollitia, veritatis repellat quia provident unde commodi. Ut, asperiores nobis!
                            Consectetur officia natus temporibus, omnis, iure quisquam autem impedit aliquam quo molestiae veniam. Repudiandae, incidunt alias! Repudiandae nulla itaque saepe dolore placeat, maxime ea non neque quod ex ipsa asperiores!</div>
                            <div>Commented By</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer></footer>

</body>
</html>