

{{!-- Section for listing channels --}}
<section class="channel container">
    <h2>Friends</h2>
    {{#each users as |user|}}
     {{> featured-user user}}
    {{/each}}
       
</section>

{{!-- Section for categories --}}
{{> categories-list}}


<script src="/javascript/utils/carousel.js"></script>