
<h1>{{user_image_path}}</h1>
{{!-- Section for listing channels --}}
<section class="channel container">
    <h2>Friends</h2>
    {{#if loggedIn}}
        {{#each users as |user|}}
        {{> featured-user user}}
        {{/each}}
    {{else}}
        {{#each users as |user|}}
        {{> featured-user}}
        {{/each}}
    {{/if}}

       
</section>
{{!-- renders users post> --}}
{{#if loggedIn}}
<section>
    <div>
        <ol>
            {{#each posts as |post|}}
            {{> users-display-post post}}
            {{/each}}
        </ol>
    </div>
</section>
{{/if}}

{{!-- Section for categories --}}
{{> categories-list}}
{{!-- make delete functionality go here as well --}}
<div id="delete-button" class="hide"></div>

<script src="/javascript/utils/carousel.js"></script>
 <script src="/javascript/delete-post.js"></script>