{{!-- HERO: Featured: Post --}}
<section class="hero container">
    {{> hero-carousel}}
</section>


{{!-- Section for listing channels --}}
<section class="channel container">
    <h2>Channels</h2>
{{!-- <ul class="channels row">
    {{#each channels}}
    <li> --}}
        {{> featured-channels}}
    {{!-- </li>
    {{/each}}
</ol> --}}
</section>

{{!-- Section for categories --}}
<section class="categories container">
    <h2>Categories</h2>
    {{> categories-list}}
</section>