

{{!-- Section for listing channels --}}
<section class="channel container">
    <h2>Friends</h2>
    {{#if loggedIn}}
        {{#each users as |user|}}
        {{> featured-user user}}
        {{/each}}
    {{else}}
        {{#each users as |user|}}
        {{> featured-user}}
        {{/each}}
    {{/if}}

       
</section>

{{!-- Section for categories --}}
{{> categories-list}}


<script src="/javascript/utils/carousel.js"></script>