:root {
    /* Odd but trendy */
    --background-color: rgb(125,180,181);
    --text-color: rgb(0,0,0);
    --container-color: rgb(224,239,241);
    --accent-color:rgb(104,1,72);
}

body {
    background-image: linear-gradient(var(--background-color) , var(--accent-color));
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h2 {
    padding: 5px;
    border-bottom: 2px solid var(--container-color);
}

.scroll {
    display: block;
    padding: 5px;
    margin: 5px;
    height: 100px;
    overflow: auto;
}

.scrollComment{
    display: block;
    padding: 10px;
    margin: 10px;
    height: 40rem;
    overflow: auto;
}

header {
    /* background-color: var(--background-color); */
    z-index: 999;
}


ul{
    list-style-type: none;
}

.cat-img{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

.carousel-item img { 
    max-width: fit-content;
    height: 500px;
    border: none;
}

.commentDisplay {
    border: 2px solid lightblue;
}

.floatRight {
    text-align: right;
}

.listPadding {
    padding: 3px;
}

.commentPadding {
    padding: 10px;
}