:root {
    /* Odd but trendy */
    --background-color: rgb(125,180,181);
    --text-color: rgb(0,0,0);
    --container-color: rgb(224,239,241);
    --accent-color:rgb(104,1,72);

    /* Friend */
    /*  rgb(210,72,88) rgb(234,176,94) */
    /* --background-color: rgb(234,134,118); 
    --text-color: black;
    --container-color: rgb(253,238,205);
    --accent-color:rgb(75,56,49); */

    /* Adrift in dreams */
    /*  */
    /* samm like background */
    /* --background-color: rgb(168,219,168); 
    --text-color: black;
    --container-color: rgb(121,189,154);
    --accent-color:rgb(11,72,107); */

}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

header {
    background-image: linear-gradient(var(--container-color), var(--background-color));
    border-bottom: 8px double var(--accent-color);
    z-index: 999;
}

.header-title {
    text-align: center;
}

.dash {
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: var(--background-color);
    text-shadow: 1px 1px 2px black, 0 0 8px white, 0 0 5px black;
}

a:hover {
    color: var(--background-color);
}

.userBtn {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--container-color);
    border: none;
    text-align: right;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--container-color);
}

.top-padding{
    padding: 5px 0 0 0;
}

h2 {
    padding: 5px;
    border-bottom: 2px solid var(--accent-color);
    text-shadow:  0 0 8px white ;
}

.scroll {
    display: block;
    padding: 5px;
    margin: 5px;
    height: 100px;
    overflow: auto;
}

.scrollComment{
    display: block;
    padding: 10px;
    margin: 10px;
    height: 40rem;
    overflow: auto;
}




ul{
    list-style-type: none;
}

.cat-img{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--background-color);
}

.cat-img:hover {
    /* width:200px;
    height:200px; */
    box-shadow: 0 0 15px yellow;
}

.carousel-item img { 
    max-width: fit-content;
    height: 500px;
    border: none;
}

.commentDisplay {
    border: 2px solid lightblue;
}

.floatRight {
    text-align: right;
}

.listPadding {
    padding: 3px;
}

.commentPadding {
    padding: 10px;
}

.article-container {
    border: 2px solid var(--accent-color);
    margin: 2px;
}

textarea {
    resize: none;
}
/* samm added margin bottom so cards arent flush up on eachother, and a border on each card  */
.card{
margin-bottom: 15px;
border:2px solid grey;
}
/* samm added styling to card header  */
.card-header {
    background-color:rgb(125,180,181);
    color:whitesmoke;
}
.card-container {
    background-color: var(--container-color--);
    color:black;
    border: 1px solid grey;
    margin-top:15px;
    
}

.comment {
    border-bottom:1px solid black;
    padding: 10px;

}